@page "/users"
@using ClientServerCommon.Models;
@using Limp.Client.Cryptography;
@using Limp.Client.Cryptography.KeyStorage;
@using Limp.Client.HubInteraction;
@using Limp.Client.HubInteraction.Handlers;
@using Limp.Client.HubInteraction.Handlers.Helpers;
@using Limp.Client.HubInteraction.Handlers.HubConnectionHandlers.Implementations.AuthHub;
@using Limp.Client.HubInteraction.Handlers.HubConnectionHandlers.Implementations.MessageDispatcherHub;
@using Limp.Client.HubInteraction.Handlers.HubConnectionHandlers.Implementations.UsersHub;
@using Limp.Client.TopicStorage;
@using Limp.Client.Utilities;
@using LimpShared.Authentification;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager _navigationManager
@inject ICryptographyService _cryptographyService
@inject IMessageBox _messageBox
@using ClientServerCommon.Models.Login;
@inject IJSRuntime _jSRuntime
@implements IAsyncDisposable

<PageTitle>Users Online</PageTitle>

<div style="display: flex; flex-direction: column; gap: 10px;">
    @foreach (var connection in userConnections.Where(x=>!x.ConnectionIds.Contains(myConnectionId) && x.ConnectionIds.Count > 0))
    {
        <div style="    
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border: 1px solid;
            height: 5vh;">
            <span>@connection.Username is looking for a chat!</span>
            <button @onclick="()=> RedirectToChat(connection.Username)">Start a chat</button>
        </div>
    }
</div>

@code {
    private List<UserConnections> userConnections { get; set; } = new();
    private string myConnectionId { get; set; } = string.Empty;
    private AuthHubHandler? _authHubHandler;
    private UsersHubHandler? _usersHubHandler;
    private MessageDispatcherHandler? _messageDispatcherHandler;
    private HubInteractor? _hubInteractor;

    private void RedirectToChat(string username)
    {
        _navigationManager.NavigateTo($"/user/{username}");
    }

    protected override async Task OnInitializedAsync()
    {
        _hubInteractor = new HubInteractor(_navigationManager, _jSRuntime, _messageBox);
        _authHubHandler = new AuthHubHandler(_navigationManager, _jSRuntime);
        _usersHubHandler = new UsersHubHandler(_navigationManager, _jSRuntime, _cryptographyService);

        if (String.IsNullOrWhiteSpace(await JWTHelper.GetAccessToken(_jSRuntime)))
        {
            _navigationManager.NavigateTo("login");
            return;
        }

        AuthHubSubscriptionManager.SubscribeToJWTPairRefresh(async (result) =>
        {
            JWTPair? pair = result.JWTPair;
            if (pair == null || String.IsNullOrWhiteSpace(pair.AccessToken) || String.IsNullOrWhiteSpace(pair.RefreshToken.Token))
                _navigationManager.NavigateTo("/login");

            if (result.Result == AuthResultType.Success)
            {
                await _jSRuntime.InvokeVoidAsync("localStorage.setItem", "access-token", pair!.AccessToken);
                await _jSRuntime.InvokeVoidAsync("localStorage.setItem", "refresh-token", pair!.RefreshToken.Token);
            }
        });

        UsersHubSubscriptionManager.SubscribeToConnectionIdReceived((id) =>
        {
            myConnectionId = id;
            StateHasChanged();
        });

        UsersHubSubscriptionManager.SubscribeToUsersConnectionsReceived((userConnectionsList) =>
        {
            userConnections = userConnectionsList;
            StateHasChanged();
        });

        UsersHubSubscriptionManager.SubscribeToUsernameResolved(async (username) =>
        {
            if (_hubInteractor != null)
            {
                //await _hubInteractor.ConnectToMessageDispatcherHubAsync(cryptographyService: _cryptographyService);
                _messageDispatcherHandler = new MessageDispatcherHandler(_navigationManager, _jSRuntime);
            }
        });

        await _authHubHandler.ConnectAsync();
        await _usersHubHandler.ConnectAsync();
    }

    public async ValueTask DisposeAsync()
    {
        _usersHubHandler?.DisposeAsync();
        _authHubHandler?.DisposeAsync();
        await _hubInteractor.DisposeAsync();
    }
}
