@page "/users"
@using ClientServerCommon.Models;
@using Limp.Client.Cryptography;
@using Limp.Client.HubInteraction;
@using Limp.Client.HubInteraction.EventHandling.ConnectionIdReceive;
@using Limp.Client.HubInteraction.EventHandling.JWTPairRefresh;
@using Limp.Client.HubInteraction.EventHandling.OnlineUsersReceivedEvent;
@using Limp.Client.HubInteraction.EventHandling.UsernameResolve;
@using Limp.Client.Utilities;
@using LimpShared.Authentification;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation
@using ClientServerCommon.Models.Login;
@inject IJSRuntime jS
@inject IHubInteractor _hubInteractor
@inject IOnlineUsersReceiveEventHandler _onlineUsersReceiveEventHandler
@inject IConnectionIdReceiveEventHandler _сonnectionIdReceiveEventHandler
@inject IUsernameResolveEventHandler _usernameResolveEventHandler
@inject IJWTRefreshEventHandler _jWTRefreshEventHandler
@implements IAsyncDisposable

<PageTitle>Users Online</PageTitle>

<div style="display: flex; flex-direction: column; gap: 10px;">
    @foreach (var connection in userConnections.Where(x=>!x.ConnectionIds.Contains(myConnectionId) && x.ConnectionIds.Count > 0))
    {
        <div style="    
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border: 1px solid;
            height: 5vh;">
            <span>@connection.Username is looking for a chat!</span>
            <button @onclick="()=>RedirectToChat(connection.Username)">Start a chat</button>
        </div>
    }
</div>

@code {
    private List<UserConnections> userConnections { get; set; } = new();
    private string myConnectionId { get; set; } = string.Empty;
    private string? accessToken { get; set; }
    private string? refreshToken { get; set; }

    private async Task RedirectToChat(string username)
    {
        Navigation.NavigateTo($"/user/{username}");
    }

    private async Task CheckIfUserAuthenticated()
    {
        accessToken = await jS.InvokeAsync<string?>("localStorage.getItem", "access-token");
        refreshToken = await jS.InvokeAsync<string?>("localStorage.getItem", "refresh-token");

        if (String.IsNullOrWhiteSpace(accessToken))
        {
            Navigation.NavigateTo("login");
            return;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await CheckIfUserAuthenticated();

        _onlineUsersReceiveEventHandler.Subscribe(onOnlineUsersReceiveAsync);
        _сonnectionIdReceiveEventHandler.Subscribe(onConnectionIdReceiveAsync);
        _usernameResolveEventHandler.Subscribe(OnUsernameResolvedAsync);
        _jWTRefreshEventHandler.Subscribe(OnTokensRefreshAsync);

        await _hubInteractor.ConnectToAuthHubAsync(accessToken, refreshToken);

        await _hubInteractor.ConnectToUsersHubAsync(accessToken);

    }

    private async Task OnUsernameResolvedAsync(string username)
    {
        if(_hubInteractor != null)
        {
            await _hubInteractor.ConnectToMessageDispatcherHubAsync(accessToken);
        }
    }

    private async Task OnTokensRefreshAsync(AuthResult result)
    {
        JWTPair? pair = result.JWTPair;
        if (pair == null || String.IsNullOrWhiteSpace(pair.AccessToken) || String.IsNullOrWhiteSpace(pair.RefreshToken.Token))
            Navigation.NavigateTo("/login");

        if (result.Result == AuthResultType.Success)
        {
            await jS.InvokeVoidAsync("localStorage.setItem", "access-token", pair!.AccessToken);
            await jS.InvokeVoidAsync("localStorage.setItem", "refresh-token", pair!.RefreshToken.Token);
        }
    }

    private async Task onConnectionIdReceiveAsync(string connectionId)
    {
        myConnectionId = connectionId;
        StateHasChanged();
    }

    private async Task onOnlineUsersReceiveAsync(List<UserConnections> usersConnectedData)
    {
        userConnections = usersConnectedData;
        StateHasChanged();
    }

    private async Task<string> GetStoredAccessTokenAsync()
    {
        return await jS.InvokeAsync<string>("localStorage.getItem", "access-token");
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubInteractor != null)
        {
            await _hubInteractor.DisposeAsync();
        }
    }
}
